In [ ]:
class User:
  def __init__(self,name,age,gender):
    self.name=name
    self.age=age
    self.gender=gender
  def show_details(self):
    print(f'Name :{self.name}')
    print(f'Age:{self.age}')
    print(f'Gender:{self.gender}')

In [ ]:
user_1 =User('basma',21,'female')

In [ ]:
user_1 . show_details()

Name :basma
Age:21
Gender:female

In [ ]:
class Bank(User):
  def __init__(self,name,age,gender):
    User.__init__(self,name,age,gender)
    self.balance=0 
  def deposit(self,amount):
    self.balance = self.balance + amount  
    print("new acc balance",self.balance)
  def withdraw(self,amount):
      if amount <= self.balance:
           self.balance = self.balance - amount
           print('the opperation done')
           print('your new balance after update is',self.balance)
      else:
           print('not allowed','avaliable balance is =',self.balance)
  def view_balance(self):
      print('your balance is =',self.balance)

In [ ]:
user_2 = Bank('basma',21,'female')
user_2.show_details()

Name :basma
Age:21
Gender:female

In [ ]:
user_2 . show_details()

Name :basma
Age:21
Gender:female

In [ ]:
user_2.deposit(3000)

new acc balance 3000

In [ ]:
user_2.view_balance()

your balance is = 3000

In [ ]:
user_2.withdraw(1000)

the opperation done
your new balance after update is 2000

In [ ]:
def main ():
    name=input('enter your name :')
    age=int(input('enter your age :'))
    gender=input('enter your gender :')
    bank_user=Bank(name,age,gender)
    while True:
      print("1 to show all details account \n \
             2 to show account balance \n \
             3 to withdraw \n \
             4 to deposit \n \
             0 to exit from the system ")
      
      user_input=int(input())
      if user_input ==1:
        bank_user.show_details()
      elif user_input==2:
        bank_user.view_balance() 

      elif user_input==3:
         amount = float(input("Enter the amount : "))
         bank_user.withdraw(amount)

      elif user_input==4:
          amount = float(input("Enter the amount : "))
          bank_user.deposit(amount)

      if user_input==0:
          break


main()

enter your name :hussein
enter your age :22
enter your gender :male
1 to show all details account
              2 to show account balance
              3 to withdraw
              4 to deposit
              0 to exit from the system
1
Name :hussein
Age:22
Gender:male
1 to show all details account
              2 to show account balance
              3 to withdraw
              4 to deposit
              0 to exit from the system
4
Enter the amount : 3800
new acc balance 3800.0
1 to show all details account
              2 to show account balance
              3 to withdraw
              4 to deposit
              0 to exit from the system
2
your balance is = 3800.0
1 to show all details account
              2 to show account balance
              3 to withdraw
              4 to deposit
              0 to exit from the system
3
Enter the amount : 950
the opperation done
your new balance after update is 2850.0
1 to show all details account
              2 to show account balance
              3 to withdraw
              4 to deposit
              0 to exit from the system
0